<div class="card">
<div class="card-body">
  <div class="tab-content">
    <div class="active tab-pane" id="settings">
      <%= form_for(@project_request, url: project_requests_path, class: "form-horizontal", remote: true) do |f|%>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :title, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
          </div>
        </div>


        <div class="form-group row">
          <%= f.label :division_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
            <%= f.select :division_id, division_request_select.collect{|i| [i.name, i.id]},{}, {class: "form-control custom-select"}  %>
          </div>

          <%= f.label :project_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4">
             <%= f.text_field :project_id, class: "form-control", value: "#{current_user.projects.first.name}", readonly: true %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :client_company, class: "col-form-label" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :client_company, class: "form-control", value: "#{current_user.projects.first.client_company}", readonly: true %>
          </div>

          <div class="col-sm-2">
            <%= f.label :project_leader, class: "col-form-label" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :project_leader, {class: "form-control", value: "#{current_user.name}", readonly: true} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :document_link, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :document_link, {class: "form-control", value: "#{current_user.name}"} %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :description, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control", placeholder:"Description" %>
          </div>
        </div>


        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit "Tạo Yêu Cầu", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div><!-- /.card-body -->
</div>
