<tr class="hidden_content">
  <td><%= request_counter + 1 %></td>
  <td><%= request.title %></td>
  <td><%= request.project.name %></td>
  <td><%= request.division.name %></td>
  <td><%= request.client_company %></td>
  <td><%= request.description %></td>


  <td class="project-actions text-right">
    <%= link_to project_request_path(request), {class: "btn btn-primary btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
    <% if current_user.member? %>
      <%= link_to edit_project_request_path(request), {class: "btn btn-info btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-pencil-alt">
        </i>
        Edit
      <% end %>
    <% end %>
  </td>
</tr>
