<div class="content-wrapper">
  <% if current_user.member? %>
    <%= render partial: "shared/head_profile", locals: {path1: overview_projects_path, title: "Quản lý task dự án thuộc dự án", link1: "Quản lý dự án", link2: "Danh sách Tasks"}%>
  <% else %>
    <%= render partial: "shared/head_profile", locals: {path1: overview_divisions_path, title: "Quản lý task dự án thuộc dự án", link1: "Quản lý bộ phận", link2: "Danh sách Tasks"}%>
  <% end %>

    <section class="content">

      <div class="card container">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
              <div class="row">
                <div class="col-md-12">
                  <div class="row float-right" style="margin: 0 0 10px 0px;">
                    <%= search_form_for @q, url: project_tasks_path, class: "form-inline", method: :get do |f| %>
                      <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
                      <%= f.submit class: "btn btn-outline-success my-2 mr-sm-2 my-sm-0" %>
                    <% end %>
                  </div>

                  <div class="card" style="width: 100%">
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                      <div class="table-responsive">
                        <table class="table m-0 table-striped projects">
                          <thead>
                          <tr style="color: #17a2b8;">
                            <th>#</th>
                            <th>Title</th>
                            <th>Project</th>
                            <th>Division</th>
                            <th>Document Link</th>
                            <th>Description</th>
                            <th class="text-center" style="width: 20%">More</th>
                          </tr>
                          </thead>
                          <tbody>
                            <%= render partial: "project_requests/request", collection: @requests %>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      <div id="pagina" class="btn btn-sm">
                        <%= link_to new_project_request_path, {class: "btn btn-sm btn-info float-left", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
                         <i class="fas fa-tasks"></i>
                          Thêm yêu cầu cho dự án
                        <% end %>
                      </div>
                      <div class="float-right">
                        <%= will_paginate @requests if @requests %>
                      </div>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
