 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/head_profile", locals: {path1: room_chats_path, title: "Quản lý dự án", link1: "Trang chủ", link2: ""}%>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6">
            <%= link_to company_reports_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-edit"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Reports</span>
                  <span class="info-box-number">
                  <%= @report_count %>
                  <small>Report</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-6">
            <%= link_to company_projects_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-project-diagram"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Projects</span>
                  <span class="info-box-number">
                  <%= @project_count %>
                  <small>Project</small>
                </span>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
        </div>

        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  Time Line
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <%= timeline @time_line %>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                <div class="row">
                  <div class="col-md-12">

                    <div class="float-left"><%= will_paginate @projects if @projects %></div>
                    <div class="float-right" style="margin: 0 0 10px 0px;">
                      <%= search_form_for @q, url: overview_companys_path, class: "form-inline", method: :get do |f| %>
                        <%= f.search_field :name_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
                        <%= f.submit class: "btn btn-outline-success my-2 mr-sm-2 my-sm-0" %>
                      <% end %>
                    </div>

                    <div class="card" style="width: 100%">
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <div class="table-responsive">
                          <table class="table m-0 table-striped projects">
                            <thead>
                            <tr>
                              <th>#</th>
                              <th>Project Name</th>
                              <th>Client Company</th>
                              <th>Document Link</th>
                              <th>Description</th>
                              <th>Expected</th>
                              <th>Progress</th>

                              <th>More</th>
                            </tr>
                            </thead>
                            <tbody id="show-task-pr">
                              <%= render partial: "overview_companys/project", collection: @projects %>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.table-responsive -->
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Tỉ lệ thành viên bộ phân thuộc dự án</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <%= (0..@sum_pie).each do |i| %>
                    <div class="chart col-md-6">
                      <%= pie_chart @pie_chart_project[i], donut: true %>
                    </div>
                  <% end %>
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
