<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= render partial: "shared/head_profile", locals: {path1: profile_path(@user), title: "Profile", link1: @user.name, link2: "Update Profile"}%>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <%= render partial: "shared/profile", locals: {user: @user} %>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <%= link_to "Notifications", profile_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Update Profile", edit_profile_path(@user), class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Reset Password", "#", class: "nav-link" %>
                </li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">
                  <%= form_for(@user, url: profile_path, class: "form-horizontal") do |f|%>
                    <%= render "shared/error_messages", object: f.object %>
                    <div class="form-group row">
                      <%= f.label :name, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-10">
                        <%= f.text_field :name, class: "form-control", placeholder:"Name" %>
                      </div>
                    </div>

                   <div class="form-group row">
                      <%= f.label :phone, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-10">
                        <%= f.text_field :phone, class: "form-control", placeholder:"Phone" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <%= f.label :birthday, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-10">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            <%= f.date_field :birthday, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                    </div>

                     <div class="form-group row">
                      <%= f.label :gender, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-10">
                        <%= f.select :gender, gender_select,{}, {class: "form-control custom-select" }  %>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :skill, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :skill, class: "form-control", placeholder: "Skill" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <%= f.submit "Submit", class: "btn btn-danger" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!--
