<div class="content-wrapper">
  <%= render partial: "shared/head_profile", locals: {path1: profile_path(@user), title: "Profile", link1: "Profile" , link2: "Active"}%>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <%= render partial: "shared/profile", locals: {user: @user} %>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <%= link_to "Notifications", profile_path, class: "nav-link active" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Update Profile", edit_profile_path(@user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Reset Password", edit_reset_password_path(@user), class: "nav-link" %>
                </li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="active tab-pane" id="activity">
                <%= render partial: "profiles/notification", collection: @notification %>
              </div>
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
