 <div class="content-wrapper" style="background: white;">
    <!-- Content Header (Page header) -->
   <%= render partial: "shared/head_profile", locals: {path1: overview_divisions_path, title: t(".title") + " #{current_division.name}", link1: t(".link1"), link2: t(".link2")}%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="float-right" style="margin: 10px 1px;">
              <div>
                <%= search_form_for @q, url: division_projects_path, class: "form-inline" do |f| %>
                  <%= f.search_field :name_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
                  <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card" style="width: 100%">
              <div class="card-header border-transparent" style="height: 40px;">
                <h3 class="card-title" style="font-weight: 700"><%= t".project"%></h3>
                <% if @projects.blank? %>
                  <h3 class="card-title text-danger" style="font-weight: 700; margin-left: 10px;">- <%= t".no_project"%></h3>
                <% end %>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0 table-striped projects">
                    <thead>
                    <tr>
                      <th><%= t".id"%></th>
                      <th><%= t".name"%></th>
                      <th><%= t".client_company"%></th>
                      <th><%= t".document_link"%></th>
                      <th><%= t".description"%></th>
                      <th><%= t".expected"%></th>
                      <th><%= t".progress"%></th>

                      <th><%= t".more"%></th>
                    </tr>
                    </thead>
                    <tbody id="show-task-pr">
                      <%= render partial: "division_projects/project", collection: @projects %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <%= will_paginate @projects if @projects %>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
