 <tr class="hidden_content">
  <td style="width: 50px;"><%= user_counter + 1 %></td>
  <td>
    <%if user.avatar? %>
      <%= image_tag user.avatar.url, class: "img-circle img-size-32 mr-2" %>
    <% else %>
      <%= image_tag "avatar.png", class: "img-circle img-size-32 mr-2" %>
    <% end %>
    <%= user.name %>
  </td>
  <td><%= user.division.name %></td>
  <td><%= user.role %></td>
  <td><%= user.skill %></td>
  <td><%= "#{user.user_projects.count} Project" %></td>
  <td>
    <small class="text-success mr-1">
      <i class="fas fa-arrow-up"></i>
      12%
    </small>
    50%
    <small>-</small>
    <small class="text-success mr-1">
      <i class="fas fa-arrow-up"></i>
      12%
    </small>
    80%
  </td>
  <td class="project-actions text-right" style="max-width: 150px;">
    <%= link_to show_profile_path(user), {class: "btn btn-primary btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-folder">
      </i>
      View
    <% end %>
    <% if user.member? &&  user.status != "busy" %>
      <%= link_to show_project_path(user), { class: "btn btn-success btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-plus">
        </i>
        Thêm vào dự án
      <% end %>
    <% end %>
  </td>
</tr>
