<div class="content-wrapper">
 <%= render partial: "shared/head_profile", locals: {path1: root_path, title: t(".title"), link1: t(".link1"), link2: t(".link2")}%>

  <div class="card-body  container">
    <div class="row">

      <div class="card bg-gradient col-12 col-md-12 col-lg-12 order-1 order-md-2" style="min-height: 600px;">
        <div class="card-header bg-success border-0">

          <h3 class="card-title">
            <i class="far fa-calendar-alt"></i>
            <%= t".calendar"%>
          </h3>
          <!-- tools card -->
          <div class="card-tools">
            <!-- button with a dropdown -->
            <div class="btn-group">
              <%= link_to my_works_path, class: "btn btn-success btn-sm" do %>
                <i class="fas fa-plus"></i>
                <%= t".add_task"%>
              <% end %>
              <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-bars"></i></button>
              <div class="dropdown-menu float-right" role="menu">
                <%= link_to my_calendar_path(id: "week"), class: "dropdown-item", remote: true do %>
                  <%= t".weekly_calendar"%>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to my_calendar_path(id: "month"), class: "dropdown-item", remote: true do %>
                  <%= t".monthly_calendar"%>
                <% end %>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /. tools -->
        </div>

        <div class="card-body pt-0">
          <!--The calendar -->
          <div id="my-calendar" style="width: 100%">
            <%= render partial: "my_calendars/week_calendar" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
