<div class="card-body" style="margin: 20px 0px;">
  <div class="tab-content">
    <div class="active tab-pane" id="settings">
      <%= form_for(@project, url: company_projects_path, class: "form-horizontal", remote: true) do |f|%>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.hidden_field :path, value: @path %>
        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :name, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", placeholder:t(".project_name")%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :document_link, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :document_link, class: "form-control", placeholder:t(".document_link") %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :client_company, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :client_company, class: "form-control", placeholder:t(".client_company") %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :description, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control", placeholder:t(".description") %>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit t(".add_project"), class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div><!-- /.card-body -->
