<tr >
  <td>
      <%= project_counter + 1%>
  </td>
  <td>
    <a>
      <%= project.name %>
    </a>
    <br/>
    <small>
      <%= project.created_at %>
    </small>
  </td>
  <td>
    <ul class="list-inline">
      <%= render partial: "company_projects/division", collection: project.divisions.uniq %>
    </ul>
  </td>
  <td>
    <%= project.client_company %>
  </td>

  <td class="project-actions text-right">
    <%= link_to company_project_path(project), {class: "btn btn-sm btn-primary", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
    <%= link_to edit_company_project_path(project), {class: "btn btn-sm btn-info", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-pencil-alt">
      </i>
      Edit
    <% end %>
    <%= link_to add_project_manager_path(project), {class: "btn btn-sm btn-warning", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-plus">
      </i>
      Add Project Leader
    <% end %>
    <% if project.users.where(division_id: current_division.id).present? %>
      <%= link_to add_project_division_path(project), {class: "btn btn-sm btn-success", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-plus">
        </i>
        Add Team Leader
      <% end %>
    <% end %>
    <%= link_to company_project_path(project), {method: :delete, class: "btn btn-danger btn-sm",data: {confirm: "Bạn chắc chứ"}} do %>
      <i class="fas fa-trash">
      </i>
      Xóa
    <% end %>
  </td>
</tr>
