<div class="content-wrapper" style="background-color: #ffffff">
  <!-- Content Header (Page header) -->
  <%= render partial: "shared/head_profile", locals: {path1: overview_companys_path, title: "Danh sách dự án công ty", link1: "Quản lý dự án", link2: "Dự án"}%>

  <!-- Main content -->
  <section class="content container">
    <div class="float-left" style="margin: 0 0 15px 0px;">
      <%= link_to new_company_project_path, {class: "btn btn-sm btn-info float-left", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-plus"></i>
        Tạo dự án
      <% end %>
    </div>

    <div class="float-right">
      <%= search_form_for @q, url: company_projects_path, class: "form-inline" do |f| %>
        <%= f.search_field :name_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
        <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>

    <!-- Default box -->
    <div class="card" style="height: 500px; width: 100%">
      <div class="card-header" style="height: 40px;">
        <h3 class="card-title">Danh sách dự án</h3>
        <% if @projects.blank? %>
          <h3 class="card-title" style="margin-left: 10px; color: red;">- không có dữ liệu</h3>
        <% end %>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                      #
                    </th>
                    <th>
                      Project Name
                    </th>
                    <th>
                        Division
                    </th>
                    <th>
                      Client Company
                    </th>
                    <th class="text-center" style="width: 30%">
                      More
                    </th>
                </tr>
            </thead>
            <tbody>
              <%= render partial: "company_projects/project", collection: @projects %>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <%= will_paginate @projects%>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
