 <tr>
  <td>1</td>
  <td>
    <%= image_tag "user.jpg", class: "img-circle img-size-32 mr-2" %>
   <%= user.name %>
  </td>
  <td><%= user.division.name %></td>
  <td><%= user.skill %></td>
  <td><%= "#{user.user_projects.count} Project" %></td>
  <td>
    <small class="text-success mr-1">
      <i class="fas fa-arrow-up"></i>
      12%
    </small>
    50%
    <small>-</small>
    <small class="text-success mr-1">
      <i class="fas fa-arrow-up"></i>
      12%
    </small>
    80%
  </td>
  <td><span class="badge badge-success">Bận rộn</span></td>
  <td class="project-actions text-right">
    <%= link_to "#", class: "btn btn-primary btn-sm" do %>
      <i class="fas fa-folder">
      </i>
      View
    <% end %>
    <% if user.projects.where(id: @project.id).blank? %>
      <% if @project.user_projects.where(role: 1).blank? %>
        <%= link_to add_project_managers_path(user_id: user.id, project_id: @project.id),{ class: "btn btn-success btn-sm", method: :post} do %>
          <i class="fas fa-plus">
          </i>
          Add
        <% end %>
      <% else %>
        <%= link_to add_project_managers_path(user_id: user.id, project_id: @project.id),{ class: "btn btn-success btn-sm", method: :post, data: {confirm: "Dự án này đã có quản lý, bạn vẫn muốn thêm quản lý chứ!"}} do %>
          <i class="fas fa-plus">
          </i>
          Add
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
