<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper" style="height: 500px;">
  <%= render partial: "shared/head_profile", locals: {path1: overview_divisions_path , title: t(".title"), link1: t(".link1"), link2: t(".link2")}%>
  <section class="content">
    <div class="col-12">
    <div class="card-header row" style="margin: 10px 1px;">
      <div>
        <%= search_form_for @q, url:"#", class: "form-inline" do |f| %>
          <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
          <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
     <div class="card">
        <div class="card-header border-0" style="height: 40px;">
          <h3 class="card-title" style="font-weight: 700; margin-right: 10px;"><%= t".list"%></h3>
          <% if @reports.blank? %>
            <h5 class="card-title" style="font-weight: 600; color: #dc3545">(<%= t".no_report"%>)</h5>
          <% end %>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
            <tr>
              <th>#</th>
              <th><%= t".title1"%></th>
              <th><%= t".project"%></th>
              <th><%= t".sender"%></th>
              <th><%= t".plan"%></th>
              <th><%= t".actual"%></th>
              <th><%= t".next_plan"%></th>
              <th><%= t".issue"%></th>
              <th class="text-center"><%= t".more"%></th>
            </tr>
            </thead>
            <tbody>
              <%= render partial: "division_reports/report", collection: @reports %>
            </tbody>
          </table>
        </div>
      </div>
      <%= will_paginate @reports if @reports %>
    </div>
  </section>
  <!-- /.content -->
</div>
