<div class="card" style="margin-top: 5px;">
  <div class="card-body">
    <div class="tab-content">
      <div class="active tab-pane" id="settings">
        <%= form_for(@task, url: my_works_path, class: "form-horizontal", remote: true) do |f|%>
          <%= render "shared/error_messages", object: f.object %>
          <div class="form-group row">
            <div class="col-sm-2">
              <%= f.label :title, class: "col-form-label" %>
            </div>
            <div class="col-sm-10">
              <%= f.text_field :title, class: "form-control", placeholder:t(".title") %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2">
              <%= f.label :start_time, class: "col-form-label" %>
            </div>
            <div class="col-sm-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                <%= f.date_field :start_time, class: "form-control" %>
              </div>
            </div>
            <%= f.hidden_field :user_id, class: "form-control", value: "#{current_user.id}" %>
            <div class="col-sm-2">
              <%= f.label :end_time, class: "col-form-label" %>
            </div>
            <div class="col-sm-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                <%= f.date_field :end_time, class: "form-control" %>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-2">
              <%= f.label :description, class: "col-form-label" %>
            </div>
            <div class="col-sm-10">
              <%= f.text_area :description, class: "form-control", placeholder:t(".description") %>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <%= f.submit t(".create_task"), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div><!-- /.card-body -->
</div>
