<div class="card" style="margin-top: 10px;">
  <table class="table table-striped projects">
    <tbody>
      <tr class="hidden_content">
        <th>
          <%= t".title"%>
        </th>
        <th>
          <%= @task.title %>
        </th>
      </tr>



      <tr class="hidden_content">
        <th>
          <%= t".person_in_charge"%>
        </th>
          <th><%= @task.user.name %></td>
      </tr>

      <tr class="hidden_content">
        <th>
          <%= t".type_of_work"%>
        </th>
        <th>
          <span class="badge badge-info"><%= t".my_own"%></span>
        </th>
      </tr>

       <tr class="hidden_content">
        <th>
          <%= t".time"%>
        </th>
        <th>
          <%= "#{@task.start_time} - #{@task.end_time}" %>
        </th>
      </tr>

      <tr class="hidden_content">
        <th>
          <%= t".description"%>
        </th>
        <th>
          <%= @task.description %>
        </th>
      </tr>
    <tbody>
  </table>
</div>
