<tr>
  <td><%= task_counter + 1 %></td>
  <td><%= "OR#{task.id}" %></td>
  <td><%= task.title %></td>
  <td><%= "#{task.start_time} - #{task.end_time}" %></td>

  <td class="project-actions text-right" style="max-width: 150px;">
    <%= link_to my_work_path(task), {class: "btn btn-primary btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
    <%= link_to edit_my_work_path(task), {class: "btn btn-info btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-pencil-alt">
      </i>
      Edit
    <% end %>
    <%= link_to my_work_path(task), {class: "btn btn-danger btn-sm", method: :delete} do %>
      <i class="fas fa-trash">
      </i>
      Delete
    <% end %>
  </td>
</tr>
