<div class="content-wrapper">
 <%= render partial: "shared/head_profile", locals: {path1: root_path, title: "Công việc cá nhân", link1: "Trang chủ", link2: "Công việc"}%>
  <section class="content">

    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-thumbtack"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Task công việc</span>
                    <span class="info-box-number">
                      <%= @tasks.count %>
                      <small>Task</small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-6">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-calendar-day"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Tổng số ngày</span>
                    <span class="info-box-number">
                      <%= @sum_days %>
                      <small>Days</small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= link_to new_my_work_path, {class: "btn btn-success btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
                  <i class="fas fa-plus">
                  </i>
                  Thêm công việc
                <% end %>
                <div class="row float-right" style="margin: 0 0 10px 0px;">
                  <%= search_form_for @q, url: my_works_path, class: "form-inline", method: :get do |f| %>
                    <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
                    <%= f.submit class: "btn btn-outline-success my-2 mr-sm-2 my-sm-0" %>
                  <% end %>
                </div>

                <div class="card" style="width: 100%">
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table m-0 table-striped projects">
                        <thead>
                        <tr style="color: #17a2b8;">
                          <th>#</th>
                          <th>Order ID</th>
                          <th style="min-width: 200px;">Title</th>
                          <th>Time</th>
                          <th class="text-center">More</th>
                        </tr>
                        </thead>
                        <tbody>
                          <%= render partial: "my_works/task", collection: @tasks %>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">

                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>

          <div class="card bg-gradient-success col-12 col-md-12 col-lg-4 order-1 order-md-2" style="max-height: 460px;">
            <div class="card-header border-0">

              <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
              </h3>
              <!-- tools card -->
              <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-bars"></i></button>
                  <div class="dropdown-menu float-right" role="menu">
                    <a href="#" class="dropdown-item">Add new event</a>
                    <a href="#" class="dropdown-item">Clear events</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">View calendar</a>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="card-body pt-0">
              <!--The calendar -->
              <div id="task-calendar" style="width: 100%">
                <%= month_calendar events: @tasks do |date, tasks| %>
                  <div class="calendar-day"><%= date.day %></div>
                  <% tasks.each do |task| %>
                    <div class="calendar-task">
                      <div class="calendar-show">
                        <%= "#{task.title} / #{task.start_time} - #{task.end_time}" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
