<div class="card card-primary">
  <div class="text-center" style="margin-top: 10px;">
     <%if current_user.avatar?%>
      <%= image_tag current_user.avatar.url, class: "img-circle img-fluid" %>
    <%else%>
      <%= image_tag "avatar.png", class: "img-circle img-fluid" %>
    <%end%>
  </div>
<!-- /.card-header -->
<div class="card-body">
  <strong><i class="fas fa-user mr-1"></i>Name</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.name %></span>
  </p>
  <hr>
  <strong><i class="fas fa-envelope mr-1"></i>Email</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.email %></span>
  </p>
  <hr>
  <strong><i class="fas fa-venus-mars mr-1"></i>Gender</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.gender %></span>
  </p>
  <hr>
  <strong><i class="fas fa-phone mr-1"></i>Phone</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.phone %></span>
  </p>
  <hr>
  <strong><i class="fas fa-birthday-cake mr-1"></i>Birthday</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.birthday %></span>
  </p>
  <hr>
  <strong><i class="fas fa-flag mr-1"></i>Nationality</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.nationality %></span>
  </p>
  <hr>
  <strong><i class="fas fa-home mr-1"></i>Workspace</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.workspace %></span>
  </p>
  <hr>
  <strong><i class="fas fa-id-card mr-1"></i>Position</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.position %></span>
  </p>
  <hr>
  <strong><i class="fas fa-address-card mr-1"></i>Staff Type</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.staff_type %></span>
  </p>
  <hr>
  <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
  <p class="text-muted">
    <span class="tag tag-danger"><%= @user.skill %></span>
  </p>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
