<div class="direct-chat-msg" data-role="message-template">
  <div class="direct-chat-infos row" style="margin: 0px;">
    <%if message.user.avatar?%>
      <%= image_tag message.user.avatar.url, class: "message-item green" %>
    <%else%>
      <%= image_tag "user-5.png", class: "message-item green" %>
    <%end%>
    <div class="message-chat">
      <div class="direct-chat-infos clearfix">
        <span class="message-name"><%= message.user.name %></span>
        <span class="direct-chat-timestamp float-right">
          <i class="far fa-clock"></i>
          <%= message.created_at %>
        </span>
      </div>

      <div data-role="message-text">
        <%= Rinku.auto_link(message.content).html_safe %>
      </div>
      <% if message.file_name.present? %>
        <div class="attachment">
          <%= link_to message_path(message), target: :_blank do %>
            <i class="fas fa-download" style="font-size: 12px;"></i>
            <%= message.file_name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


