  <div class="content-wrapper" style="background-color: #FFFFFF">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Chat Work</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-3 connectedSortable">
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" >
              <li class="nav-item nav-link">
                <i class="far fa-comment-dots nav-icon"></i>
                <p>List chats</p>
              </li>
                <div id="item_list_chat" class="list-group" id="list-tab" role="tablist">
                  <%= render partial: "room_chats/item_list_chat", collection: @group_chats, locals: {item_active: @item_active} %>
                </div>
              </ul>
            </nav>
          </section>

          <section class="col-lg-9 connectedSortable">
            <div class="card direct-chat direct-chat-primary">
              <div class="card-header" style="height: 40px;">
                <h3 class="card-title"><b><%= @group_chat.name %></b></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div id="show_message">
                  <!-- Message. Default to the left -->
                  <%= render partial: "room_chats/room_chat", locals: {room_chat: @group_chat} %>
                </div>
              </div>

              <div class="card-footer">
                <%= form_for @message, url: messages_path, remote: true do |f| %>
                  <div class="input-group">
                    <%= f.file_field :file_name %>
                    <%= f.text_field :content, class: "form-control", id: "sms_chat", placeholder: "Type Message ..." %>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                  </div>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :list_message_id, value: @item_active %>
                <% end %>
              </div>

            </div>
            <!--/.direct-chat -->

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->

          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
