 <section class="content" style="padding-top: 100px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">
                  <%= form_for(@group, url: path, class: "form-horizontal") do |f|%>
                    <%= render "shared/error_messages", object: f.object %>
                    <%= f.hidden_field :path, value: @path %>
                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :name, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_field :name, class: "form-control", placeholder:"Group" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <%= f.label :division_id, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-4">
                        <%= f.text_field :division_id, class: "form-control", disabled: "disabled", value: "#{current_division.name}" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :description, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :description, class: "form-control", placeholder:"Description" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <%= f.submit "Submit", class: "btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
        <div class="col-md-2">
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
