 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/head_profile", locals: {path1: room_chats_path, title: t(".title") + " #{current_division.name}", link1: t(".link1"), link2: t(".link2")}%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
          <%= link_to division_tasks_path, style: "text-decoration: none; color: #212529" do %>
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text"><%= t".tasks"%></span>
                <span class="info-box-number">
                  <%=  @task_count %>
                  <small><%= t".task"%></small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
          <% end %>
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to division_reports_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-edit"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><%= t".reports"%></span>
                  <span class="info-box-number">
                  <%= @report_count %>
                  <small><%= t".report"%></small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to division_projects_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-project-diagram"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text"><%= t".projects"%></span>
                  <span class="info-box-number">
                  <%= @project_count %>
                  <small><%= t".project"%></small>
                </span>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>


          <div class="col-12 col-sm-6 col-md-6">
            <%= link_to division_members_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><%= t".members"%></span>
                  <span class="info-box-number">
                  <%= @member_count %>
                  <small><%= t".member"%></small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>

           <div class="col-12 col-sm-6 col-md-6">
            <%= link_to approval_requests_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-user-tag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text"><%= t".requests"%></span>
                  <span class="info-box-number">
                  <%= @sum_request %>
                  <small><%= t".request"%></small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
        </div>

        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <%= t".time_line"%>
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <%= timeline @time_line %>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><%= t".progress"%></h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                    <%= bar_chart @tasks.group(:title).sum(:progress) %>

                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong><%= t".progress_rate"%></strong>
                    </p>

                    <%= pie_chart @tasks.group(:progress).count, donut: true %>

                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
