 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/head_profile", locals: {path1: room_chats_path, title: "Quản lý dự án thuộc bộ phận", link1: "Trang chủ", link2: "Thống kê"}%>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
          <%= link_to division_tasks_path, style: "text-decoration: none; color: #212529" do %>
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Tasks</span>
                <span class="info-box-number">
                  <%=  @task_count %>
                  <small>Task</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
          <% end %>
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to division_reports_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-edit"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Reports</span>
                  <span class="info-box-number">
                  <%= @report_count %>
                  <small>Report</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to division_projects_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-project-diagram"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Projects</span>
                  <span class="info-box-number">
                  <%= @project_count %>
                  <small>Project</small>
                </span>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>


          <div class="col-12 col-sm-6 col-md-6">
            <%= link_to division_members_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Members</span>
                  <span class="info-box-number">
                  <%= @member_count %>
                  <small>Member</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>

           <div class="col-12 col-sm-6 col-md-6">
            <%= link_to approval_requests_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-user-tag"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Requests</span>
                  <span class="info-box-number">
                  <%= @sum_request %>
                  <small>Requests</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
        </div>

        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  jQuery Knob
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <%= timeline @time_line %>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Monthly Recap Report</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>

                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                    <%= bar_chart @tasks.group(:title).sum(:progress) %>

                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Goal Completion</strong>
                    </p>

                    <%= pie_chart @tasks.group(:progress).count, donut: true %>

                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

                <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Monthly Recap Report</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-center">
                      <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                    </p>

                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                    <%= line_chart @children_tasks.group_by_day(:start_time).count %>

                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
