<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper" style="height: 500px;">
  <%= render partial: "shared/head_profile", locals: {path1: project_member_path(@project), title: t(".title"), link1: t(".link1"), link2: t(".link2")+" #{@project.id}"}%>
  <section class="content">
    <div class="col-12">
    <div class="card-header row" style="margin: 10px 1px;">
      <div>
        <%= search_form_for @q, url:"#", class: "form-inline" do |f| %>
          <%= f.search_field :name_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
          <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
     <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title"><%= t ".add_manager"%></h3>
          <div class="card-tools">
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-download"></i>
            </a>
            <a href="#" class="btn btn-tool btn-sm">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
            <tr>
              <th>#</th>
              <th><%= t ".member"%></th>
              <th><%= t ".position"%></th>
              <th><%= t ".role"%></th>
              <th><%= t ".skill"%></th>
              <th><%= t ".join_project"%></th>
              <th><%= t ".progress"%></th>
              <th><%= t ".status"%></th>
              <th class="text-center"><%= t ".more"%></th>
            </tr>
            </thead>
            <tbody>
              <%= render partial: "add_project_members/user", collection: @users %>
            </tbody>
          </table>
        </div>
      </div>
      <%= will_paginate @users if @users %>
    </div>
  </section>
  <!-- /.content -->
</div>
