<tr class="hidden_content">
  <td><%= report_counter + 1 %></td>
  <td><%= report.title %></td>
  <td><%= report.project.name %></td>
  <td><%= report.user.name %></td>
  <td><%= report.plan %></td>
  <td><%= report.actual %></td>
  <td><%= report.next_plan %></td>
  <td><%= report.issue %></td>
  <td class="project-actions text-right">
    <%= link_to show_report_path(report), {class: "btn btn-primary btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-folder">
      </i>
      View
    <% end %>
  </td>
</tr>
