<tr class="hidden_content">
  <td><%= task_counter + 1 %></td>
  <td><%= "OR#{task.id}"%></a></td>
  <td><%= task.title %></td>
  <% if task.project.present? %>
    <td><%= task.project.name %></td>
  <% else %>
    <td><%= task.parent.project.name %></td>
  <% end %>
  <% if task.parent_task? %>
    <td><span class="badge badge-info">parent task</span></td>
  <% else %>
    <td><span class="badge badge-warning">children task</span></td>
  <% end %>
  <td>
      <% if task.parent_task? %>
        <% if task.progress < 100 %>
          <span class="description-percentage text-danger">
            <i class="fas fa-caret-down"></i>
            <b><%= "#{task.progress - 100} %" %></b>
          </span>
        <% elsif task.progress == 100 %>
           <span class="description-percentage text-warning">
            <i class="fas fa-caret-left"></i>
            <b><%= "#{task.progress - 100 } %" %></b>
          </span>
        <% else %>
          <span class="description-percentage text-success">
            <i class="fas fa-caret-up"></i>
            <b><%= "#{task.progress - 100 } %" %></b>
          </span>
        <% end %>
      <% else %>
        <% if (task.end_time < Date.today) %>
          <span style="color: #dc3545; font-weight: 800;"><%= "#{task.progress } %" %></span>
        <% else %>
          <span style="color: #28a745; font-weight: 800;"><%= "#{task.progress } %" %></span>
        <% end %>
      <% end %>
  </td>

  <td class="project-actions text-right">
    <%= link_to personal_task_path(task), {class: "btn btn-primary btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
    <% if !task.parent_task?%>
      <% if task.parent.lock == "open" %>
        <%= link_to personal_task_path(task), class: "btn btn-danger btn-sm", method: :delete do %>
          <i class="fas fa-trash">
          </i>
          Delete
        <% end %>
      <% else %>
        <%= link_to edit_personal_task_path(task), {class: "btn btn-info btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
          <i class="fas fa-pencil-alt">
          </i>
          Edit
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
