<div class="content-wrapper">
 <%= render partial: "shared/head_profile", locals: {path1: overview_personals_path, title: t(".title"), link1: t(".link1"), link2: t(".link2")}%>
  <section class="content">

    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tasks"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text"><%= t".task_expected"%></span>
                    <span class="info-box-number">
                      <%= @children_tasks.count %>
                      <small><%= t".task"%></small>
                      <%= "/ #{@count_day}" %>
                      <small><%= t".day"%></small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-clock"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text"><%= t".present"%></span>
                    <span class="info-box-number">
                      <%= "#{(@now_day.to_f / @count_day *100).round(2)}" %>
                      <small>%</small>
                      <%="/ #{@now_day}" %>
                      <small><%= t".day"%></small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

              <!-- fix for small devices only -->
              <div class="clearfix hidden-md-up"></div>

              <div class="col-12 col-sm-6 col-md-4">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-success elevation-1"><i class="fas fa-clipboard-check"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text"><%= t".reality"%></span>
                    <span class="info-box-number">
                      <%= @progress %>
                      <small>%</small>
                      <%="/ #{@now_day}" %>
                      <small><%= t".day"%></small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <%= link_to new_personal_task_path, {class: "btn btn-success btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
                  <i class="fas fa-plus">
                  </i>
                  <%= t".add_childrent_task"%>
                <% end %>
                <div class="row float-right" style="margin: 0 0 10px 0px;">
                  <%= search_form_for @q, url: personal_tasks_path, class: "form-inline", method: :get do |f| %>
                    <%= f.select :project_id_in, @projects.collect{|i| [i.name, i.id]}, {include_blank: "Choose Project"}, class: "form-control select mr-sm-2" %>
                    <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
                    <%= f.submit class: "btn btn-outline-success my-2 mr-sm-2 my-sm-0" %>
                  <% end %>
                </div>

                <div class="card" style="width: 100%">
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table m-0 table-striped projects">
                        <thead>
                        <tr style="color: #17a2b8;">
                          <th>#</th>
                          <th><%= t".order_id"%></th>
                          <th><%= t".title"%></th>
                          <th><%= t".type"%></th>
                          <th><%= t".status"%></th>
                          <th><%= t".expected"%></th>
                          <th><%= t".progress"%></th>
                          <th class="text-center"><%= t".more"%></th>
                        </tr>
                        </thead>
                        <tbody>
                          <%= render partial: "personal_tasks/task", collection: @tasks %>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">

                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>

          <div class="card bg-gradient-success col-12 col-md-12 col-lg-4 order-1 order-md-2" style="max-height: 460px;">
            <div class="card-header border-0">

              <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                <%= t".calendar"%>
              </h3>
              <!-- tools card -->
              <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-bars"></i></button>
                  <div class="dropdown-menu float-right" role="menu">
                    <a href="#" class="dropdown-item"><%= t".add_new_event"%></a>
                    <a href="#" class="dropdown-item"><%= t".clear_event"%></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><%= t".view_calendar"%></a>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="card-body pt-0">
              <!--The calendar -->
              <div id="task-calendar" style="width: 100%">
                <%= month_calendar events: @children_tasks do |date, tasks| %>
                  <div class="calendar-day"><%= date.day %></div>
                  <% tasks.each do |task| %>
                    <div class="calendar-task">
                      <div class="calendar-show">
                        <%= "#{task.title} / #{task.start_time} - #{task.end_time}" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
