<div class="card">
<div class="card-body">
  <div class="tab-content">
    <div class="active tab-pane" id="settings">
      <%= form_for(@task, url: division_tasks_path, class: "form-horizontal", remote: true) do |f|%>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :title, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :start_time, class: "col-form-label" %>
          </div>
          <div class="col-sm-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              <%= f.date_field :start_time, class: "form-control" %>
            </div>
          </div>

           <div class="col-sm-2">
            <%= f.label :end_time, class: "col-form-label" %>
          </div>
          <div class="col-sm-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
              <%= f.date_field :end_time, class: "form-control" %>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <%= f.label :lock, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-3">
            <%= f.select :lock, lock_task_select,{}, {class: "form-control custom-select", disabled: true }  %>
          </div>

          <%= f.label :project_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-4" style="padding-right: 0px;">
            <%= f.select :project_id, project_tag.collect{|i| [i.name, i.id]}, {}, {class: "form-control custom-select" }  %>
          </div>
        </div>

        <%= f.hidden_field :user_id, class: "form-control", value: "#{current_user.id}" %>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :path_github, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :path_github, class: "form-control", placeholder:"Link Pull Request" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.label :description, class: "col-form-label" %>
          </div>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control", placeholder:"Description" %>
          </div>
        </div>


        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <%= f.submit "Tạo Task", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.tab-pane -->
  </div>
  <!-- /.tab-content -->
</div><!-- /.card-body -->
</div>
