<tr class="hidden_content">
  <td><%= task_counter + 1 %></td>
  <td><%= "OR#{task.id}" %></td>
  <td><%= task.project.name %></td>
  <td>
    <% if task.project.medium? %>
      <span class="badge badge-success"><%= task.project.importance %></span>
    <% else %>
      <span class="badge badge-danger"><%= task.project.importance %></span>
    <% end %>
  </td>
  <td><%= task.title %></td>
  <% if task.parent_task? %>
    <td><span class="badge badge-info">parent task</span></td>
  <% else %>
    <td><span class="badge badge-warning">children task</span></td>
  <% end %>
  <% if task.project.present? %>
    <td><%= task.project.name %></td>
  <% else %>
    <td><%= task.parent&.project&.name %></td>
  <% end %>
  <td><%= task.user.name %></td>
  <% if task.start_time > Date.today %>
    <td><span class="badge badge-info">transfer</span></td>
  <% elsif task.end_time > Date.today %>
    <td><span class="badge badge-warning">unfinished</span></td>
  <% else %>
    <td><span class="badge badge-danger">finished</span></td>
  <% end %>
  <td>
    <% if task.end_time < Date.today %>
      <span class="text-success" style="font-weight: 800;"><%= "100 %" %></span>
    <% else %>
      <span class="text-success" style="font-weight: 800;"><%= "#{ ((task.start_time..Date.today).count.to_f / (task.start_time..task.end_time).count * 100).round(2)} %" %></span>
    <% end %>
  </td>

  <td>
    <% if task.end_time < Date.today %>
      <% if task.progress == 100 %>
        <span class="description-percentage text-warning">
            <i class="fas fa-caret-left"></i>
          <b><%= "0 %" %></b>
        </span>
      <% elsif task.progress < 100 %>
        <span class="description-percentage text-danger">
            <i class="fas fa-caret-down"></i>
          <b><%= "#{(task.progress - 100).round(2)}%" %></b>
        </span>
      <% else %>
        <span class="description-percentage text-danger">
            <i class="fas fa-caret-up"></i>
          <b><%= "#{(task.progress - 100).round(2)}%" %></b>
        </span>
      <% end %>
    <% else %>
      <% if task.progress < ((task.start_time..Date.today).count.to_f / (task.start_time..task.end_time).count * 100).round(2) %>
        <span class="description-percentage text-danger">
          <i class="fas fa-caret-down"></i>
          <b><%= "#{(task.progress - (task.start_time..Date.today).count.to_f / (task.start_time..task.end_time).count * 100).round(2)} %" %></b>
        </span>
      <% elsif task.progress > ((task.start_time..Date.today).count.to_f / (task.start_time..task.end_time).count * 100).round(2) %>
         <span class="description-percentage text-success">
          <i class="fas fa-caret-up"></i>
          <b><%= "#{(task.progress - (task.start_time..Date.today).count.to_f / (task.start_time..task.end_time).count * 100).round(2) } %" %></b>
        </span>
      <% else %>
        <span class="description-percentage text-warning">
          <i class="fas fa-caret-left"></i>
          <b><%= "0 %" %></b>
        </span>
      <% end %>
    <% end %>
  </td>


  <td class="project-actions text-right" style="min-width: 150px;">
    <%= link_to personal_task_path(task), {class: "btn btn-primary btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      <%= t".view"%>
    <% end %>

    <% if task.parent_task? && task.user_id != current_user.id %>
      <%= link_to edit_division_task_path(task), {class: "btn btn-info btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-pencil-alt">
        </i>
        <%= t".edit"%>
      <% end %>
    <% end %>

    <% if task.user_id == current_user.id && task.parent_task? %>
      <%= link_to add_task_user_path(task), {class: "btn btn-success btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-plus">
        </i>
        <%= t".add_user"%>
      <% end %>
      <%= link_to division_task_path(task), class: "btn btn-danger btn-sm", method: :delete do %>
        <i class="fas fa-trash">
        </i>
        <%= t".delete"%>
      <% end %>
    <% end %>

    <% if task.user_id != current_user.id && !task.parent_task? && !task.status %>
      <%= link_to show_view_progress_path(task), {class: "btn btn-warning btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
        <i class="fas fa-adjust">
        </i>
        <%= t".view_progress"%>
      <% end %>
    <% end %>
  </td>
</tr>
