<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper">
  <%= render partial: "shared/head_profile", locals: {path1: manage_projects_path, title: t(".title"), link1: t(".group"), link2: t(".in_group")}%>
  <section class="content">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h3 class="card-title"><b><%= t".manager_member"%></b></h3>
            <% if @users.blank? %>
              <h3 class="no_data card-title">( <i><%= t".no_data"%></i> )</h3>
            <% end %>
            <div class="card-tools">
              <%= search_form_for @q, url: add_members_path, class: "form-inline", method: :get do |f| %>
                <%= f.search_field :name_or_email_cont_any, class: "form-control mr-sm-2", placeholder: "Search" %>
                <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-head-fixed text-nowrap table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"><%= t ".email"%></th>
                  <th scope="col"><%= t ".name"%></th>
                  <th scope="col"><%= t ".gender"%></th>
                  <th scope="col"><%= t ".birthday"%></th>
                  <th scope="col"><%= t ".phone"%></th>
                  <th scope="col"><%= t ".staff_type"%></th>
                  <th scope="col"><%= t ".work_space"%></th>
                  <th scope="col"><%= t ".action"%></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "shared/user", collection: @users, locals: {type_user: 3} %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
      </div>
      <%= will_paginate @users if @users%>
    </div>
  </section>
  <!-- /.content -->
</div>
