<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper">
  <%= render partial: "shared/head_profile", locals: {path1: manage_projects_path, title: "Manage Member", link1: "Manage Group", link2: "Member in Group"}%>
  <section class="content">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h3 class="card-title"><b>Manage Member</b></h3>
            <% if @users.blank? %>
              <h3 class="no_data card-title">( <i>No data displayed!</i> )</h3>
            <% end %>
            <div class="card-tools">
              <%= search_form_for @q, url: add_members_path, class: "form-inline", method: :get do |f| %>
                <%= f.search_field :name_or_email_cont_any, class: "form-control mr-sm-2", placeholder: "Search" %>
                <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-head-fixed text-nowrap table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Email</th>
                  <th scope="col">Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Birthday</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Staff Type</th>
                  <th scope="col">Work Space</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "shared/user", collection: @users, locals: {type_user: 3} %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
      </div>
      <%= will_paginate @users if @users%>
    </div>
  </section>
  <!-- /.content -->
</div>
