 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/head_profile", locals: {path1: room_chats_path, title: "Quản lý dự án cá nhân", link1: "Trang chủ", link2: "Thống kê"}%>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
          <%= link_to personal_tasks_path, style: "text-decoration: none; color: #212529" do %>
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-tasks"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Tasks</span>
                <span class="info-box-number">
                  <%= @tasks.count %>
                  <small>Task</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
          <% end %>
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to reports_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-edit"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Reports</span>
                  <span class="info-box-number">
                    <%= @count_report %>
                  <small>Report</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
          <!-- /.col -->

          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-4">
            <%= link_to requests_path, style: "text-decoration: none; color: #212529" do %>
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-recycle"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Requests</span>
                  <span class="info-box-number">
                  <%= @count_request %>
                  <small>Request</small>
                </div>
                <!-- /.info-box-content -->
              </div>
            <% end %>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <!-- jQuery Knob -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  Time Line
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                      class="fas fa-minus"></i>
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <%= timeline @time_line %>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Progress</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">

                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                    <%= bar_chart @tasks.group(:title).sum(:progress) %>

                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Tỉ lệ tiến độ</strong>
                    </p>

                    <%= pie_chart @tasks.group(:progress).count, donut: true %>

                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-info"><%= "#{@children_tasks.count} Task - #{@count_day} Days"%></h5>
                      <span class="description-text">KẾ HOẠCH</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-primary"> <%= "#{(@now_day.to_f / @count_day *100).round(2)} % - #{@now_day} Days" %></h5>
                      <span class="description-text">DỰ KIẾN</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <h5 class="description-header text-warning"> <%= "#{@progress} % - #{@now_day} Days" %></h5>
                      <span class="description-text">THỰC TẾ</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block">
                      <% if (@progress - @now_day.to_f / @count_day *100) < 0 %>
                        <h5 class="description-header text-danger"><i class="fas fa-caret-down"></i><%= " #{(@progress - @now_day.to_f / @count_day *100).round(2)} %" %>
                        </h5>
                      <% else %>
                         <h5 class="description-header text-success"><i class="fas fa-caret-up"></i><%= " #{(@progress - @now_day.to_f / @count_day *100).round(2)} %" %>
                        </h5>
                      <% end %>
                      <span class="description-text">CHÊNH LỆCH</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
