<tr class="hidden_content">
  <td><%= task_counter + 1 %></td>
  <td><%= "OR#{task.id}" %></td>
  <td><%= task.title %></td>
  <% if task.project.present? %>
    <td><%= task.project.name %></td>
  <% else %>
    <td><%= task.parent&.project&.name %></td>
  <% end %>
  <td><%= task.user.name %></td>
  <% if task.parent_task? %>
    <td><span class="badge badge-info">parent task</span></td>
  <% else %>
    <td><span class="badge badge-warning">children task</span></td>
  <% end %>
  <td>
    <% if (task.end_time < Date.today) %>
      <span style="color: #dc3545; font-weight: 800;"><%= "#{task.progress } %" %></span>
    <% else %>
      <span style="color: #28a745; font-weight: 800;"><%= "#{task.progress } %" %></span>
    <% end %>
  </td>


  <td class="project-actions text-right" style="min-width: 150px;">
    <%= link_to personal_task_path(task), {class: "btn btn-primary btn-sm", remote: true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
  </td>
</tr>
