<tr>
  <td><%= request_counter + 1 %></td>
  <td><%= request.personal_request.title %></td>
  <td><%= request.personal_request.project.name %></td>
  <td><%= request.personal_request.user.name %></td>
  <td><%= request.created_at %></td>
  <td><%= request.personal_request.reason %></td>

  <td>
    <% if request.status == "waiting" %>
      <span class="badge badge-primary"><%= request.status %></span>
    <% elsif request.status == "approval" %>
      <span class="badge badge-success"><%= request.status %></span>
    <% elsif request.status == "rejected" %>
      <span class="badge badge-danger"><%= request.status %></span>
    <% else %>
      <span class="badge badge-info"><%= request.status %></span>
    <% end %>
  </td>
  <td class="project-actions text-right">
    <%= link_to request_path(request.personal_request.id), {class: "btn btn-primary btn-sm", remote: :true, "data-toggle": "modal", "data-target": "#show_dialog"} do %>
      <i class="fas fa-eye">
      </i>
      View
    <% end %>
    <% if request.status == "waiting" %>
      <%= link_to approval_request_path(request, status: "approval"),{ class: "btn btn-info btn-sm", method: :patch, data:{ confirm: "Bạn có chắc!"}} do %>
        <i class="fas fa-check">
        </i>
        Approve
      <% end %>

       <%= link_to approval_request_path(request, status: "rejected"), { class: "btn btn-danger btn-sm", method: :patch, data:{ confirm: "Bạn có chắc!"}} do %>
        <i class="fas fa-times">
        </i>
        Rejected
      <% end %>
    <% end %>
  </td>
</tr>
