<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title"><b>
      <% if group %>
        <%= group %>
      <% else %>
        All Group
      <% end %>
    </b></h3>
    <% if @reports.blank? %>
      <h3 class="no_data card-title">( <i>No data displayed!</i> )</h3>
    <% end %>
    <div class="card-tools">
      <%= search_form_for @q, url: path, class: "form-inline", remote: true do |f| %>
        <%= f.search_field :title_cont, class: "form-control mr-sm-2", placeholder: "Search" %>
        <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-body table-responsive p-0" style="height: 300px;">
    <table class="table table-head-fixed table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Group Name</th>
          <th scope="col">Title</th>
          <th scope="col">Plan</th>
          <th scope="col">Actual</th>
          <th scope="col">Next Plan</th>
          <th scope="col">Issue</th>
          <th scope="col">Time request</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "reports/report", collection: @reports, locals: {type_user: 1} %>
      </tbody>
    </table>
  </div>
  <div class="container">
    <%= will_paginate @reports if @reports %>
  </div>
</div>
