<div class="content-wrapper">
  <section class="content">
    <%= render partial: "shared/head_profile", locals: {path1: admin_manage_users_path, title: "Manage User", link1: "Manage User", link2: "Create new a user"}%>
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="settings">
                  <%= form_for(@report, url: path, class: "form-horizontal") do |f|%>
                    <%= render "shared/error_messages", object: f.object %>
                    <div class="form-group row">
                      <%= f.label :group_id, class: "col-sm-2 col-form-label" %>
                      <div class="col-sm-10">
                        <% if my_group_select.blank? %>
                          <input class="form-control", readonly="readonly", value="Group-Project empty!"/>
                        <% else %>
                          <%= f.select :group_id, my_group_select.collect{|i| [i.name, i.id]}, {} , {class: "form-control custom-select" }  %>
                        <% end %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :title, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_field :title, class: "form-control", placeholder:"Title" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :plan, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :plan, class: "form-control", placeholder:"Plan" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :actual, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :actual, class: "form-control", placeholder:"Actual" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :next_plan, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :next_plan, class: "form-control", placeholder:"Next Plan" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-2">
                        <%= f.label :issue, class: "col-form-label" %>
                      </div>
                      <div class="col-sm-10">
                        <%= f.text_area :issue, class: "form-control", placeholder:"Issue" %>
                      </div>
                    </div>

                    <div class="form-group row">
                      <% if my_group_select.present? %>
                        <div class="offset-sm-2 col-sm-10">
                          <%= f.submit "Submit", class: "btn btn-danger" %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->

        <div class="col-md-2">
        </div>

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
